$cbg: #333;
$cbg-light: #3b3b3b;
$cshadow: #282828;
$c1: #d95e53;
$c2: #fff;


h1,h2,h3,h4,h5,h6,span,p,a{
  font-family: Questrial;
}

h2.ghost{
  padding-left: 50px;
  font-size: 50px;
  color: lighten($cbg, 10%);
}

.wrap{
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

html{
	height: 100%;
}

body{
	height: 100%;
	background-color: $cbg;
}

header{
	.jumbotron{
	    background-color: $cbg-light;
	    color: $c1;
	    box-shadow: 0 0 10px $cshadow;
	}
}

.post{
	position: relative;
	min-width: 420px;
	border-radius: 4px;
    background-color: $cbg-light;
    padding-top: 1px;
    padding-padding: 1px;
    margin-bottom: 20px;
    word-wrap: break-word;
	&:before{
		z-index: -1;
	    position: absolute;
	    content: "";
	    bottom: 15px;
	    left: 10px;
	    width: 50%;
	    top: 80%;
	    max-width:200px;
	    background: $cshadow;
	    -webkit-box-shadow: 0 15px 10px $cshadow;
	    -moz-box-shadow: 0 15px 10px $cshadow;
	    box-shadow: 0 15px 10px $cshadow;
	    -webkit-transform: rotate(-3deg);
	    -moz-transform: rotate(-3deg);
	    -o-transform: rotate(-3deg);
	    -ms-transform: rotate(-3deg);
	    transform: rotate(-3deg);
	}
	&:after{
		@extend :before;
		-webkit-transform: rotate(3deg);
	    -moz-transform: rotate(3deg);
	    -o-transform: rotate(3deg);
	    -ms-transform: rotate(3deg);
	    transform: rotate(3deg);
	    right: 10px;
    	left: auto;
	}
	.b-body{
		color: $c2;
		p{
			white-space: normal;
			line-height: 1.6em;
		}
		a{
			text-decoration: none;
			color: lighten($c1, 5%);
		}
	}
}

.b-social{
	margin-top: 15px;
	height: 40px;
	font-size: 20px;
	>li{
		width: 28px;
	    height: 28px;
	    margin: 0 6px 0 6px;
	    padding: 3px;
	    border-radius: 15px;
	    text-align: center;
	    transition: .3s;
	    :hover{
	    	cursor: pointer;
		    background: none;
		    transition: .3s;
	    }
	}
}

.lb-container{
	width: 100%;
	min-height: 400px;
	height: 400px;
	overflow: hidden;
    white-space:nowrap;
	.lb-shelf{
		min-width:100px;
	    height: 100%;
	    overflow: hidden;
	    white-space:nowrap;
	    .lb-bookend{
			width: 80px;
			height: 100%;
			float: left;
			margin: 0;
		}
		.lb-book{
			width:100px;
			height:100%;
			float:left;
			border-top: 8px solid $cbg;
			border-bottom: 8px solid $cbg;
			overflow: hidden;
			background-repeat: no-repeat;
			background-size: cover;
			>.row{
				padding-right: 120px;
			}
			>.lb-spine{
				width: 120px;
			    height:400px;
			    float:left;
			    border-left: 1px solid $cbg;
			    border-right: 1px solid $cbg;
			    background-color: $c1;
			    transition: .5s;
			    color: #eee;
			    cursor: pointer;
		        &:hover{
					background-color: darken($c1, 4%);
			    }
			    >h4{
			    	-webkit-transform: rotate(-90deg);
				    -moz-transform: rotate(-90deg);
				    -ms-transform: rotate(-90deg);
				    -o-transform: rotate(-90deg);
				    transform: rotate(-90deg);
				    text-transform: uppercase;
				    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
				    margin: 100px 0 0 -100px;
				    width: 300px;
				    >.glyphicon{
					    -webkit-transform: rotate(90deg);
					    -moz-transform: rotate(90deg);
					    -ms-transform: rotate(90deg);
					    -o-transform: rotate(90deg);
					    transform: rotate(90deg);
					    margin-right: 20px;
					}
			    }
			}

			.lb-content{
					margin-left: 120px;
			    margin-right: 120px;
			    color: #d95e53;
			    opacity: 0;
			    transition: 1.0s;
			    > div{
			    	margin-right: 120px;
			    }
			    .row{
			    	margin: 0;
    				padding: 0 10px 0 10px;
			    }
			    .container{
			    	margin: 0; padding: 0;
			    }
			    .masonry-brick{
					margin: 5px;
					background: #fff;
					overflow: hidden;
					.overlay{
						position: absolute;
						content: ' ';
						left: -1px;
						top: -1px;
						right: -1px;
						bottom: -1px;
						opacity: 0.0;
						transition: .5s;
						&:hover{
							opacity: 1.0;
							background-color: rgba(0,0,0,0.8);
							cursor: pointer;
				  		transition: .5s;
						}
						.blurb-container{
							position: relative;
						  height: 100%;
						  width: 100%;
						  margin: 0 auto;
						  padding: 20px;
						  overflow: auto;
							.blurb{
							  width: 100%;
							  transform: translate(-50%, -50%);
							  position: absolute;
							  top: 50%;
							  left: 50%;
								.title{
									position: relative;
									padding: 20px 0;
									// background-color: $c1;
									border-top: 1px solid $c2;
									border-bottom: 1px solid $c2;
									h3{
										margin: 0;
										font-size: 3rem;
										color: $c2;
									}
								}
							}
						}
					}
				}
				.m11{
					width: 260px; height: 260px;
					// .overlay{ border-radius: 260px; }
				}
				.m21{
					width: 530px; height: 260px;
					// .overlay{ left: 143px; right: 143px; border-radius: 260px; }
				}
				.m12{
					width: 260px; height: 530px;
					// .overlay{ top: 143px; bottom: 143px; border-radius: 260px; }
				}
				.m22{
					width: 530px; height: 530px;
					// .overlay{ border-radius: 260px; }
				}
			}
		}
	}
}

canvas{
  width: 1000px;
  height: 600px;
}

footer{
  height: 60px;
  background-color: $cbg-light;
  overflow: hidden;
}



.noselect{
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}