h1, h2, h3, h4, h5, h6, span, p, a {
  font-family: Questrial; }

h2.ghost {
  padding-left: 50px;
  font-size: 50px;
  color: #4d4d4d; }

.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px; }

.col-centered {
  float: none;
  margin: 0 auto; }

html {
  height: 100%; }

body {
  height: 100%;
  background-color: #333; }

header .jumbotron {
  background-color: #3b3b3b;
  color: #d95e53;
  box-shadow: 0 0 10px #282828; }

.post {
  position: relative;
  min-width: 420px;
  border-radius: 4px;
  background-color: #3b3b3b;
  padding-top: 1px;
  padding-padding: 1px;
  margin-bottom: 20px;
  word-wrap: break-word; }
  .post:before, .post:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 200px;
    background: #282828;
    -webkit-box-shadow: 0 15px 10px #282828;
    -moz-box-shadow: 0 15px 10px #282828;
    box-shadow: 0 15px 10px #282828;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg); }
  .post:after {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto; }
  .post .b-body {
    color: #fff; }
    .post .b-body p {
      white-space: normal;
      line-height: 1.6em; }
    .post .b-body a {
      text-decoration: none;
      color: #de7268; }

.b-social {
  margin-top: 15px;
  height: 40px;
  font-size: 20px; }
  .b-social > li {
    width: 28px;
    height: 28px;
    margin: 0 6px 0 6px;
    padding: 3px;
    border-radius: 15px;
    text-align: center;
    transition: .3s; }
    .b-social > li :hover {
      cursor: pointer;
      background: none;
      transition: .3s; }

.lb-container {
  width: 100%;
  min-height: 400px;
  height: 400px;
  overflow: hidden;
  white-space: nowrap; }
  .lb-container .lb-shelf {
    min-width: 100px;
    height: 100%;
    overflow: hidden;
    white-space: nowrap; }
    .lb-container .lb-shelf .lb-bookend {
      width: 80px;
      height: 100%;
      float: left;
      margin: 0; }
    .lb-container .lb-shelf .lb-book {
      width: 100px;
      height: 100%;
      float: left;
      border-top: 8px solid #333;
      border-bottom: 8px solid #333;
      overflow: hidden;
      background-repeat: no-repeat;
      background-size: cover; }
      .lb-container .lb-shelf .lb-book > .row {
        padding-right: 120px; }
      .lb-container .lb-shelf .lb-book > .lb-spine {
        width: 120px;
        height: 400px;
        float: left;
        border-left: 1px solid #333;
        border-right: 1px solid #333;
        background-color: #d95e53;
        transition: .5s;
        color: #eee;
        cursor: pointer; }
        .lb-container .lb-shelf .lb-book > .lb-spine:hover {
          background-color: #d54e42; }
        .lb-container .lb-shelf .lb-book > .lb-spine > h4 {
          -webkit-transform: rotate(-90deg);
          -moz-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
          -o-transform: rotate(-90deg);
          transform: rotate(-90deg);
          text-transform: uppercase;
          filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
          margin: 100px 0 0 -100px;
          width: 300px; }
          .lb-container .lb-shelf .lb-book > .lb-spine > h4 > .glyphicon {
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            transform: rotate(90deg);
            margin-right: 20px; }
      .lb-container .lb-shelf .lb-book .lb-content {
        margin-left: 120px;
        margin-right: 120px;
        color: #d95e53;
        opacity: 0;
        transition: 1.0s; }
        .lb-container .lb-shelf .lb-book .lb-content > div {
          margin-right: 120px; }
        .lb-container .lb-shelf .lb-book .lb-content .row {
          margin: 0;
          padding: 0 10px 0 10px; }
        .lb-container .lb-shelf .lb-book .lb-content .container {
          margin: 0;
          padding: 0; }
        .lb-container .lb-shelf .lb-book .lb-content .masonry-brick {
          margin: 5px;
          background: #fff;
          overflow: hidden; }
          .lb-container .lb-shelf .lb-book .lb-content .masonry-brick .overlay {
            position: absolute;
            content: ' ';
            left: -1px;
            top: -1px;
            right: -1px;
            bottom: -1px;
            opacity: 0.0;
            transition: .5s; }
            .lb-container .lb-shelf .lb-book .lb-content .masonry-brick .overlay:hover {
              opacity: 1.0;
              background-color: rgba(0, 0, 0, 0.8);
              cursor: pointer;
              transition: .5s; }
            .lb-container .lb-shelf .lb-book .lb-content .masonry-brick .overlay .blurb-container {
              position: relative;
              height: 100%;
              width: 100%;
              margin: 0 auto;
              padding: 20px;
              overflow: auto; }
              .lb-container .lb-shelf .lb-book .lb-content .masonry-brick .overlay .blurb-container .blurb {
                width: 100%;
                transform: translate(-50%, -50%);
                position: absolute;
                top: 50%;
                left: 50%; }
                .lb-container .lb-shelf .lb-book .lb-content .masonry-brick .overlay .blurb-container .blurb .title {
                  position: relative;
                  padding: 20px 0;
                  border-top: 1px solid #fff;
                  border-bottom: 1px solid #fff; }
                  .lb-container .lb-shelf .lb-book .lb-content .masonry-brick .overlay .blurb-container .blurb .title h3 {
                    margin: 0;
                    font-size: 3rem;
                    color: #fff; }
        .lb-container .lb-shelf .lb-book .lb-content .m11 {
          width: 260px;
          height: 260px; }
        .lb-container .lb-shelf .lb-book .lb-content .m21 {
          width: 530px;
          height: 260px; }
        .lb-container .lb-shelf .lb-book .lb-content .m12 {
          width: 260px;
          height: 530px; }
        .lb-container .lb-shelf .lb-book .lb-content .m22 {
          width: 530px;
          height: 530px; }

canvas {
  width: 1000px;
  height: 600px; }

footer {
  height: 60px;
  background-color: #3b3b3b;
  overflow: hidden; }

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/*# sourceMappingURL=app.css.map */
